.starting-page-modal.pf-v5-c-modal-box {
  width: 70%;
  max-width: var(--pf-v5-c-modal-box--MaxWidth);
  max-height: min(500px, 80vh);
}

.starting-page-modal .pf-v5-c-modal-box__header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  gap: 16px;
}

.starting-page-modal .pf-v5-c-modal-box__footer {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
