.dashboard-card-clip {
  clip-path: inset(0 round 10px);
  background: #fff;
  height: 100%;
  width: 100%;
}
.dashboard-card-scroll {
  height: 100%;
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.dashboard-equal-height-row {
  display: flex;
  gap: var(--pf-global--gutter);
  align-items: stretch;
}

.dashboard-equal-height {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
}
.pf-v6-c-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
}
.dashboard-card {
  border: 1px solid #d2d2d2 !important;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  min-height: 430px;
  max-height: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-card-border {
  border: 1px solid #d2d2d2 !important;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.dashboard-card-print#vm-migration-status {
  height: 500px !important;
  overflow: hidden;
}

.dashboard-card-print #os-distribution {
  height: 1500px !important;
  max-height: 1500px !important;
  overflow: hidden;
}

.dashboard-card-print #clusters-overview,
.dashboard-card-print #storage-overview,
.dashboard-card-print #warnings-table,
.dashboard-card-print #errors-table {
  height: auto !important;
  max-height: none !important;
  overflow: visible !important;
}
.table-without-border {
  border: none !important;
}
.dashboard-card-print #hosts,
.dashboard-card-print #cpu-cores,
.dashboard-card-print #total-memory {
  height: 100px !important;
  max-height: 100px !important;
  overflow: hidden;
}
